

.text-container {
    margin-bottom: 50px;

    h1.top-title {
        margin-top: 70px;
    }


    p {
        font-size: 18px;
        line-height: 1.5em;
        width: 80%;
    }

}




.work-item {
    height: 300px;
    display: flex;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;

    .background-image {
        position: absolute;
        z-index: -5;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.4s;
    }

    .work-item-info {
        position: absolute;
        width: 100%;
        top: -100%;
        height: 100%;
        padding: 25px;
        background: rgba(255, 255, 255, 0.8);
        transition: 0.4s;

        .col-sm-6 {
            height: 100%;
        }

        .row {
            height: 100%;
        }

        .work-icons {
            display: flex;
        }


        h3.work-inside-title {
            margin-top: 0px;
            margin-bottom: 20px;
            color: $COLOR_Spot;
            font-weight: 300;
            font-size: 28px;
            letter-spacing: 0.05em;
        }

        p {
            margin-bottom: 20px;
            line-height: 1.5em;
            font-size: 14px;
            font-weight: 400;
        }

    }

    .work-item-title {
        margin: auto;
        font-family: "Space Mono";
        color: white;
        transition: 0.4s;
        opacity: 1;
    }

    &:hover {

        .work-item-info {
            top:0;
        }

        .work-item-title {
            opacity: 0;
        }

        .background-image {
            transform: translateY(-50%) scale(1.1);
        }


    }




    a.btn {
        background-color:$COLOR_Spot;
    }

}




.work-icon-inner {
    text-align: center;
    width: 100%;
    margin: auto;
    .icon-container {
        display: inline-block;
        padding: 0px 10px;
        width: calc(100% / 5);
    }


}
