@import 'fonts/LFT_Etica';
@import 'variables';

body {
	font-family:"LFT Etica";
	font-weight: 300;
	letter-spacing: 0.04em;
}

.page-section {
	min-height:100vh;
}

span.mid-breaker {
	margin: 0px 10px;
	color: $COLOR_SPOT;
}

/* nav */

.navbar-default {
	border: none;
	background: #444;
	color: white;
	padding: 10px;
	max-height: 50px;

	.icon-area .icon-drawer {

		.icon-link {
			margin: 0px 5px;

			&:last-child {
				margin-right: 0px;
			}

			.icon-img {
				width: 30px;
			}

		}


	}

	span.logo-type {
		font-family: "Space Mono";
		line-height: 30px;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.03em;
	}

}



/* Import pages */

body {

	&.homepage {
		@import 'components/homepage';
	}

}