<div class="page-section">
	
	<div class="container">

		<div class="col-sm-6">

			<div class="text-container">
				<h1 class="top-title">Hello!</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget venenatis lectus. Suspendisse mollis facilisis sapien at rutrum. Nulla scelerisque gravida libero. Duis vestibulum diam a nulla feugiat cursus. Donec luctus, massa eu elementum vulputate, purus lectus lacinia enim, in rutrum purus lacus nec nibh. Proin mollis semper blandit. Phasellus eget enim consectetur, laoreet lorem quis, tincidunt libero.</p>

				<p>Cras eros quam, commodo vitae augue vitae, posuere volutpat tortor. Integer eu leo egestas, mollis ligula auctor, iaculis est. Suspendisse efficitur nisi id placerat tincidunt. Cras vehicula pretium neque, vel interdum eros pretium quis. Fusce eu semper orci. Ut accumsan, dolor ut elementum suscipit, felis massa condimentum nibh, eu dapibus tellus massa in leo. Aliquam ut aliquet nunc. Ut ut leo erat. Suspendisse potenti. Nulla ut nibh enim.</p>

				<div class="social-icons">
					<div class="icon-container" ng-repeat="icon in SocialIcons">
						<img class="icon" ng-src="{{icon.icon}}"></img>
					</div>
				</div>

			</div>

		</div>
		<div class="col-sm-6">
			<div class="about-image-container">
				<img class="about-image" src="http://placehold.it/1024x1280"></img>
			</div>
		</div>



	</div>

</div>

<div class="page-section">

	<div class="skill-section">

		<h2 class="center-header">skill.<span>set</span></h2>

		<div class="skill-icon-set container">

			<div class="skill-icon-container" ng-repeat="skill in skillIcons">

				<div class="skill-icon">
					<img class="skill-icon-img" ng-src="{{skill.icon}}"></img>
				</div>

				<span class="skill-icon-title">{{skill.title}}</span>

			</div>

			<div class="clearfix"></div>

		</div>

	</div>

	<div class="skill-section">

		<h2 class="center-header">industry.<span>skills</span></h2>

		<div class="container">
			<ul class="large-list">
				<li>User Interface Design</li>
				<li>Web & App Development</li>
				<li>User Experience Testing</li>
				<li>Google Analytics</li>
				<li>E-mail Marketing</li>
				<li>Search Engine Optimization</li>
				<li>Website Optimization</li>
				<li>Responsive Website Conversion</li>
				<li>WordPress</li>
				<li>WooCommerce</li>
				<li>Database Management</li>
				<li>Web Administration</li>
				<li>Motion Graphics</li>
				<li>3D Modeling</li>
				<li>Illustration</li>
				<li>Layout</li>
				<li>Typography & Calligraphy</li>
				<li>Branding & Graphic Design</li>
			</ul>
		</div>

		<a class="btn btn-default">View Case Studies</a>

	</div>


	<div class="skill-section">

		<h2 class="center-header">industry.<span>skills</span></h2>

		<div class="container">
			<ul class="large-list">
				<li>Flex Marketing Group</li>
				<li>Standard Media Index</li>
				<li>RE/MAX NYC</li>
				<li>Natalia Asido Realty</li>
				<li>Surgo Group</li>
				<li>Abacus Designs</li>
				<li>IndoorHoops</li>
				<li>The Letter Office</li>
				<li>Change Capital Fund</li>
				<li>House Of Cakes</li>
				<li>eKick Tech</li>
				<li>Chisel Cartel</li>
				<li>Acorn Toys</li>
				<li>Alliance for Quality Education NY</li>
				<li>NYC Local 32BJ</li>
				<li>Bryant Park Partners NY</li>
				<li>Commitee For Better Banks</li>
				<li>How Much Phe</li>
				<li>John W. Chang</li>
				<li>Maptote</li>
				<li>Modulightor</li>
				<li>Naples Jazz Orchestra</li>
				<li>Oliver Jeffer’s World</li>
				<li>PontusMarine</li>
				<li>Stencil1</li>
				<li>COOP.nyc</li>
			</ul>
		</div>

		<a class="btn btn-default">Contact Me</a>

	</div>

</div>