<div class="page-section">
	
	<div class="container">
		
		<div class="col-sm-6">

			<div class="contact-info">

				<h1 class="top-title">I'd love to hear from you.</h1>
				<p>I'm always available to hear an idea or a project, and I'm always interested in doing what I can to help - just let me know here, and I'll respond within 24 hours! Thank you for reaching out!</p>

				<social-icons></social-icons>
			</div>



		</div>
		<div class="col-sm-6">

			<div class="contact-form">
				
				<ng-form>
					<form novalidate class="main-form" name="mainform" ng-submit="SendMail()">

						<div class="form-group">
							<label>Name</label>
							<input class="form-control" type="text" ng-model="contact.name" required ></input>
						</div>

						<div class="form-group">
							<label>E-mail</label>
							<input class="form-control" type="email" ng-model="contact.email" required ></input>
						</div>

						<div class="form-group">
							<label>Inquiry</label>
							<textarea class="form-control" type="text" ng-model="contact.message" required ></textarea>
						</div>

						<button ng-if="sent == false" class="btn btn-default" ng-disabled="mainform.$invalid" >Contact Me!</button>

						<div ng-if="sent == true" class="alert alert-success" role="alert">Thanks for contacting me! I'll respond within 24 hours.</div>

					</form>
				</ng-form>

			</div>

		</div>

	</div>
	
</div>