<div class="page-section">
	
	<div class="container">

		<div class="col-sm-6 text-outer">

			<div class="text-container">
				<h1 class="top-title">Hello!</h1>

				<p class="lead-paragraph">My name is Eric, and my objective is to help you ideate and build beautiful and functional user-facing web applications and websites.</p>

				<p>I am a web developer with a background in graphic design, and I speak both the languages of the designer and the developer, allowing me to communicate effectively with multiple departments. I have a passion for writing modular, effective and scalable code, clean design aesthetic with a touch of modern, and nicely kerned type. I have been coding for most of my life, and have specialized in front-end web development since 2010, working with various tech companies, digital marketing agencies, startups and not-for-profits to develop their web presence and digital identity.</p>

				<p>My style is multidisciplinary! I love to learn new things and integrate new ideas from different skillsets into my own, so that I can more effectively work to understand not only what your company does, but who your company is - and use that in my work. My objective as a designer and a developer is to be as versatile as possible - whether that means working in a team or solo, working with old files or new software, or streamlining old artwork into updated motion graphics.</p>

				<p class="end-paragraph">Let me know what I can do for you or your company!</p>

				<social-icons></social-icons>

			</div>

		</div>
		<div class="col-sm-6 image-outer">
			<div class="about-image-container">
				<img class="about-image" src="http://placehold.it/1024x1280"></img>
			</div>
		</div>



	</div>

</div>

<div class="page-section">

	<div class="skill-section">

		<h2 class="center-header">skill.<span>set</span></h2>

		<div class="skill-icon-set container">

			<div class="skill-icon-container" ng-repeat="skill in skillIcons">

				<div class="skill-icon">
					<a href="/work"><img class="skill-icon-img" ng-src="{{skill.icon}}" data-toggle="tooltip" data-placement="top" title="{{skill.title}}"></img></a>
				</div>

				<span class="skill-icon-title visible-xs">{{skill.title}}</span>

			</div>

			<div class="clearfix"></div>

		</div>

	</div>

	<div class="skill-section">

		<h2 class="center-header">industry.<span>skills</span></h2>

		<div class="container">
			<ul class="large-list">
				<li>User Interface Design</li>
				<li>Web & App Development</li>
				<li>User Experience Testing</li>
				<li>Google Analytics</li>
				<li>E-mail Marketing</li>
				<li>Search Engine Optimization</li>
				<li>Website Optimization</li>
				<li>Responsive Website Conversion</li>
				<li>WordPress</li>
				<li>WooCommerce</li>
				<li>Database Management</li>
				<li>Web Administration</li>
				<li>Motion Graphics</li>
				<li>3D Modeling</li>
				<li>Illustration</li>
				<li>Layout</li>
				<li>Typography & Calligraphy</li>
				<li>Branding & Graphic Design</li>
			</ul>
		</div>

		<a class="btn btn-default" href="/work">View Case Studies</a>

	</div>


	<div class="skill-section">

		<h2 class="center-header">client.<span>list</span></h2>

		<div class="container">
			<ul class="large-list">
				<li>Flex Marketing Group</li>
				<li>Standard Media Index</li>
				<li>RE/MAX NYC</li>
				<li>Natalia Asido Realty</li>
				<li>Surgo Group</li>
				<li>Abacus Designs</li>
				<li>IndoorHoops</li>
				<li>The Letter Office</li>
				<li>Change Capital Fund</li>
				<li>House Of Cakes</li>
				<li>eKick Tech</li>
				<li>Chisel Cartel</li>
				<li>Acorn Toys</li>
				<li>Alliance for Quality Education NY</li>
				<li>NYC Local 32BJ</li>
				<li>Bryant Park Partners NY</li>
				<li>Commitee For Better Banks</li>
				<li>How Much Phe</li>
				<li>John W. Chang</li>
				<li>Maptote</li>
				<li>Modulightor</li>
				<li>Naples Jazz Orchestra</li>
				<li>Oliver Jeffer’s World</li>
				<li>PontusMarine</li>
				<li>Stencil1</li>
				<li>COOP.nyc</li>
			</ul>
		</div>

		<a class="btn btn-default">Contact Me</a>

	</div>

</div>