<div class="return-area">

	<div class="container">
		<a class="return-link" href="/work"><i class="fa fa-chevron-left" aria-hidden="true"></i> Return to Work</a>
	</div>

</div>



<div class="page-section work-layout">
	
	<div class="container">


		<div class="row header">
			<div class="col-sm-6">
				<h2 class="layout-header">{{WorkData.title}}</h2>
			</div>
			<div class="col-sm-6">
				<work-icons maindata="WorkData.tags"></work-icons>
			</div>
		</div>


		<div class="row description">
			<div class="col-sm-6" ng-if="WorkData.problem">
				<h4>{{WorkData.title}}.<span>problem()</span></h4>
				<p>{{WorkData.problem}}</p>
			</div>
			<div class="col-sm-6" ng-if="WorkData.solution">
				<h4>{{WorkData.title}}.<span>solution()</span></h4>
				<p>{{WorkData.solution}}</p>
			</div>
			<div class="col-xs-12" ng-if="WorkData.description">
				<p>{{WorkData.description}}</p>
			</div>
		</div>

		<div class="row hero-image-set">
			<div class="col-sm-4" ng-repeat="image in WorkData.hero">
				<div class="hero-image-container">
					<img class="hero-image" ng-src="{{ContentImgURL(image.image,'hero')}}"></img>
				</div>
			</div>
		</div>

		<div class="row section" ng-repeat="section in Sections">



			<div class="col-sm-6" ng-if="section.title">
				<h3 class="section-heading">{{WorkData.title}}.<span>{{section.title}}</span></h3>
			</div>

			<div class="col-sm-6" ng-if="section.tags">
				<work-icons maindata="section.tags"></work-icons>
			</div>



			<div class="clearfix" ng-if="section.title"></div>

			<div class="col-xs-12" ng-if="section.description">
				<p class="section-description">{{section.description}}</p>
			</div>

			<div class="col-sm-6" ng-if="section.problem">
				<h4>{{section.title}}.<span>problem()</span></h4>
				<p>{{section.problem}}</p>
			</div>

			<div class="col-sm-6" ng-if="section.solution">
				<h4>{{section.title}}.<span>solution()</span></h4>
				<p>{{section.solution}}</p>
			</div>

			<div class="clearfix" ng-if="section.problem"></div>


			<work-gallery class="row" ng-if="section.gallery" maindata="section.gallery"></work-gallery>


			<div class="col-sm-4" ng-repeat="textSection in section.textSections" ng-if="section.textSections">
				<h4 class="sub-heading">{{section.title}}.<span>{{textSection.title}}</span></h4>
				<p class="sub-section-description">{{textSection.description}}</p>
			</div>

			<div class="clearfix" ng-if="section.textSections"></div>

			<div class="col-xs-10 col-sm-12" ng-if="section.code">
			<code-viewer maindata="section.code"></code-viewer>
			</div>

			
		</div>

		<div class="row other-projects">
			<hr>
			<h3 class="other-projects-header">other.<span>projects</span></h3>
			<ul class="other-projects-list">
				<li class="project-link" ng-repeat="project in AllProjects">
					<a ng-href="/work/{{project.slug}}">{{project.name}}</a>
				</li>
			</ul>
		</div>


	</div>

</div>