<div class="page-section">

	<div class="container">

		<div class="col-xs-12">

			<div class="text-container">

				<h1 class="top-title">Case studies.</h1>
				<p>These case studies provide an in-depth explanation of a few projects I’ve done for a variety of clients, and include both design work and development work.</p>

				<p class="end-paragraph">Select a project to view.</p>
				
			</div>

		</div>


		<div class="work-container col-xs-12">

			<div class="work-item" ng-repeat="item in WorkItems">

			<img class="background-image" ng-src="{{GetBackground(item.slug)}}"></img>

				<h2 class="work-item-title">{{item.title}}</h2>


				<div class="work-item-info">

					<div class="row">


						<div class="col-sm-6 work-blurb">
							<h3 class="work-inside-title">{{item.name}}</h3>
							<p>{{item.blurb}}</p>
							<a class="btn btn-default" href="/work/{{item.slug}}">View Project</a>
						</div>


						<div class="col-sm-6 work-icons">
						<work-icons maindata="item.tags" class="work-icon-inner"></work-icons>
						</div>


					</div>

				</div>


			</div>

		</div>


	</div>

</div>
