
<div class="col-sm-8 no-padding">
	<div class="main-image-container">

	<div class="loading-box open">
		<div class="loading-graphic"></div>	
	</div>

		<div class="scroll-cue">
			Scroll <i class="fa fa-arrows-v" aria-hidden="true"></i>
		</div>

		<div class="image-description" ng-class="DescriptionOpen" ng-if="currentSlide.title || currentSlide.description">
			<span class="toggle-caret" ng-click="ToggleBox()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
			<h3 ng-if="currentSlide.title">{{currentSlide.title}}</h3>
			<p ng-if="currentSlide.description">{{currentSlide.description}}</p>
		</div>

		<img class="main-image" ng-click="OpenModal()" ng-src="{{GetImage(currentSlide.URL)}}" ng-if="currentSlide.URL" />

		<div class="mockup-top" ng-if="currentSlide.scrollURL">
			<img class="mockup-left" ng-src="{{Mockup.Left}}"></img>
			<div class="mockup-center"></div>
			<img class="mockup-right" ng-src="{{Mockup.Right}}"></img>
			<span class="mockup-address">{{workdata.liveLink}}</span>
		</div>	

		<div class="scroll-container" ng-if="currentSlide.scrollURL">
			<img class="scroll-image" ng-click="OpenModal()" ng-src="{{GetImage(currentSlide.scrollURL)}}"></img>
		</div>

	</div>
</div>

<div class="col-sm-4">
	<div class="image-thumbs row">
		<div class="col-xs-6" ng-repeat="image in maindata">
			<div class="image-thumb" ng-click="ChangeSlide($index)">
				<img class="image-thumb-img" ng-src="{{GetImage(image.thumbnail)}}" ></img>
				<div class="description">{{image.title}}</div>
			</div>
		</div>
	</div>
</div>
