.modal-container {
    position: fixed;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 100%;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;

    .modal-inside {
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;

        span.close-modal {
            position: absolute;
            right: 30px;
            top: 10px;
            color: white;
            font-size: 18px;
        }

        .modal-image-container {
            width: calc(100% - 80px);
            height: calc(100% - 140px);
            overflow: hidden;
            margin: 40px;
            text-align: center;

            img.modal-image {
                max-width: 100%;
                max-height: 100%;
                border-radius: 1px;
            }


        }


    }

    &.open {
        top: 0px;
    }



}



