.social-icons {
	margin-top: 30px;

	.icon-container {
		display: inline-block;
		margin: 0px 10px;
		width:35px;

		&:first-child {
			margin-left: 0px;
		}

		svg {
			width:100%;

			.social-icon {
				fill:#333;
				fill-rule: evenodd;
			}

		}

	}
}
