.return-area {
	margin-top: $NAV_Height;
}


.page-section {

	&:first-child {
		margin-top: 0px;
	}


}




.return-area {
	padding: 20px 0px;

	a.return-link {
		color: $COLOR_Main;
		text-transform: uppercase;
		font-weight: 600;
		i.fa {
			margin-right: 10px;
		}

	}

}




h2.layout-header {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Space Mono";
	color: $COLOR_Spot;
	font-size: 36px;
}


.work-layout {

	.row.section {
		margin-top: 50px;

		h3.section-heading {
			font-family: "Space Mono";
			font-size: 20px;
			span {
				color: $COLOR_Spot;
			}

		}




		.main-image-container {
			overflow: hidden;
			min-height: 600px;
			height: 70vh;
			.main-image {
				width: 100%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}

		}




		p.section-description {
			font-size: 16px;
			width: 80%;
			line-height: 1.6em;
		}


		.image-thumb {
			overflow: hidden;
			height: 15vh;
			margin-bottom: 30px;
			.image-thumb-img {
				width: 100%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}

		}




		h4.sub-heading {
			margin-top: 40px;
			margin-bottom: 20px;
			font-size: 16px;
			font-family: "Space Mono";

			span {
				color: $COLOR_Spot;
			}

		}


		p.sub-section-description {
			line-height: 1.7em;
		}

	}


	.row.header {
		margin-bottom: 30px;
	}


	.row.description {
		h4 {
			font-family: "Space Mono";
			letter-spacing: 0.05em;
			margin-bottom: 20px;
			font-size: 16px;
			span {
				color: $COLOR_Spot;
				font-weight: 700;
			}
		}
		p {
			width: 80%;
			font-size: 16px;
			line-height: 1.6em;
		}
	}


	.row.description {
		margin-bottom: 40px;
	}



	.hero-image-container {
		overflow: hidden;

		.hero-image {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			width: auto;
		}

	}

	.work-icon-container {
		display: block;
		text-align: right;
		.icon-container {
			display: inline-block;
			margin: 0px 5px;
			width: 35px;
			img {
				width:100%;
			}

		}

	}

	h3.other-projects-header {
		text-align: center;
		font-family: "Space Mono";
		letter-spacing: 0.04em;
		font-size: 24px;

		span {
			color: $COLOR_Spot;
		}
	}


}


ul.other-projects-list {
	text-align: center;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 25vh;

	li.project-link {
		display: inline-block;
		font-size: 18px;
		font-weight: 400;
		color: blue;

		a {
			color: grey;
		}

		&:before {
			content:"•";
			margin-left:10px;
			margin-right:10px;
			display: inline-block;
		}

		&:first-child:before {
			content:"";
			margin-left:0px;
		}
	}
}